:root {
  --background: whitesmoke;
  --background-callout: color(var(--background) tint(40%));
  --body-text: darkslategrey;
  --body-text-callout: color(var(--body-text) shade(40%));
  --theme-primary: teal;
  --theme-primary-tint: color(var(--theme-primary) tint(30%));
  --theme-primary-light: color(var(--theme-primary) tint(90%));
  --theme-secondary: darksalmon;
  --theme-secondary-light: color(var(--theme-secondary) tint(70%));
  --theme-accent: firebrick;
}
body {
  background-color: var(--background);
  color: var(--body-text);
  font-family: 'Optima', sans-serif;

  padding: 0;
  margin: 0;

  /* sticky footer */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
article > *, header, footer {
  padding: 0 1rem;
}
section > h2 { font-size: 1.2rem; }
main {
  flex: 1;
  counter-reset: footnote;
}
footer {
  flex: none;
  padding-bottom: 5vh;
  background-color: var(--theme-secondary-light);
}
a { text-decoration: none; }
a:link { color: var(--theme-primary); }
a:active { color: var(--theme-accent); }
a:visited { color: var(--theme-primary-tint); }
a:hover { color: var(--theme-secondary); }
code, pre {
  font-family: monospace;
  background-color: var(--background-callout);
  color: var(--body-text-callout);
}
pre { overflow: auto; }
ul, ol { list-style: none; }
article { counter-reset: figure; }
figure {
  margin: 0.5rem auto;
  background-color: var(--background-callout);
  width: 100%;
}
figcaption::before {
  counter-increment: figure;
  content: "Figure " counter(figure) ": ";
  font-weight: bold;
}
figcaption {
  font-style: italic;
  text-align: center;
}
figcaption code {
  font-style: normal;
}
sup > a::before {
  counter-increment: footnote;
  content: "[" counter(footnote) "]" ;
}
blockquote {
  border-left: 0.25rem solid var(--theme-secondary);
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-color: var(--theme-secondary-light);
}
q {
  background-color: var(--theme-secondary-light);
}
nav > *:not(:last-child)::after { content: '\2014'; }

aside {
  border-left: 0.25rem solid var(--theme-primary);
  padding: 0.5rem;
  background-color: var(--theme-primary-light);
}
aside > * { margin: 0; }

.footnotes {
  background-color: var(--theme-primary-light);
  padding: 1rem;
}
.footnotes ul {
  list-style-type: decimal;
}

@media screen and (min-width: 40rem) {
  body {
    padding: 0 0.5rem;
  }
  aside {
    margin: 0 1vw;
  }
  figure {
    width: 80%;
  }
}

@media screen and (min-width: 60rem) {
  body {
    max-width: 50vw;
    margin-left: 15vw;
  }
  aside {
    position: absolute;
    width: 25vw;
    left: 65vw;
    margin-right: 1vw;
  }
  blockquote {
    margin: 1vw;
    margin-left: 2vw;
  }
  figure {
    margin: 1rem auto;
    padding: 1rem;
  }
}

@media screen and (min-width: 75rem) {
  body {
    margin: auto;
    max-width: 40vw;
  }
  aside {
    width: 20vw;
    left: 70vw;
  }
}
