<!doctype html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body>
    <header>
      <h1>jreut</h1>
      <nav><strong><a href="/">← index</a></strong></nav>
      <div><em>{{timestamp}}</em></div>
    </header>
    <main>
      {{> entry}}
    </main>
    <footer>
      <p>Drop me a line any time. You can find an email address <a href="/humans.txt">here</a>.</p>
      <nav><a href="/"><code>:wq</code></a></nav>
    </footer>
  </body>
</html>
