<!doctype html>
<html>
  <title>{{title}}</title>
  <body>
    <header>
      <h1><em>le blog</em> de jreut</h1>
    </header>
    <main>
      {{> entry}}
    </main>
    <footer>
      <code>:wq</code>
    </footer>
  </body>
</html>
