<!doctype html>
<html>
  <head>
    {{> head}}
  </head>
  <body>
    <header>
      <h1>jreut</h1>
      <aside>{{timestamp}}</aside>
    </header>
    <main>
      {{> entry}}
      <code>:wq</code>
    </main>
    <footer>
      <nav>
        <a href="/">index</a>
      </nav>
    </footer>
  </body>
</html>
