<!doctype html>
<html>
  <head>
    <title>jreut's Internet place</title>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='noindex, nofollow' name='robots'>
  </head>
  <body>
    <header>
      <h1><em>le blog</em> de jreut</h1>
    </header>
    <main>
      <ul>
      {{#entries}}
        <li>
          <span>{{created.year}} {{created.month}} {{created.date}} at {{created.time}}</span>
          <a href="{{{href}}}">{{name}}</a>
        </li>
      {{/entries}}
      </ul>
    </main>
    <footer>
      <nav>
        <span>
          <a href="https://www.jreut.com">
            home
          </a>
        </span>
      </nav>
    </footer>
  </body>
</html>
