<!doctype html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body>
    <header>
      <h1>jreut</h1>
    </header>
    <main>
      <aside>
        <p>
        Howdy, I'm Jordan. Welcome to my Internet place! Have a look around, why don't you?
        </p>
      </aside>
      <ul>
      {{#entries}}
        <li>
          <span>{{created.year}} {{created.month}} {{created.date}}</span>
          —
          <a href="{{{href}}}">{{name}}</a>
        </li>
      {{/entries}}
      </ul>
    </main>
    <footer>
      <nav>
        <span>
          <a href="https://www.jreut.com">
            home
          </a>
        </span>
        <span>
          <a href="/humans.txt">
            about
          </a>
        </span>
      </nav>
    </footer>
  </body>
</html>
